<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        form(action="/form-action-mongodb", method="post")
            ul
                li Enter name
                li
                    input(type="text",name="name")
                
                li Enter age
                li
                    input(type="text",name="age")

                li
                    input(type="submit", value="submit")